// -----------------------------------------------------------------------------
// This file contains all styles related to lists.
// -----------------------------------------------------------------------------

.tag-list,
.image-caption,
.image-description {
    font-size: .85rem;
    color: $dark-grey;
}

.image-caption {}

.fa {
    color: $mid-grey;
}