// -----------------------------------------------------------------------------
// This file contains all styles related to lists.
// -----------------------------------------------------------------------------

figure {
    font-size: .85rem;
    color: $dark-grey;
}

.category-list {
    float: right;
}
