<div class="wrapper">
    <span class="fa fa-copyright fa-rotate-180"> </span> {{"now"|date('Y')}} 
    <span class="source-link"><a href="https://github.com/misfist/abandoned-stroller.git" target="_blank"><span class="fa fa-github"> </span></a></span>  
</div>
