{% extends "base.twig" %}

{% block content %}
    <div class="grid">
        {% for post in posts %}
            {% include ['gallery-item.twig', 'tease.twig'] %}
        {% endfor %}
    </div>
{% endblock %}