{% extends "base.twig" %}

{% block content %}
    <h2>{{ __( 'Where Have all The Children Gone?', 'abandoned-stroller' ) }}</h2>
    {% for post in posts %}
        {% include ['gallery-item.twig', 'tease.twig'] %}
    {% endfor %}
{% endblock %}